/* Oswald */
@font-face {
  font-family: "Oswald";
  src: url("/assets/fonts/Oswald/Oswald-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Oswald";
  src: url("/assets/fonts/Oswald/Oswald-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Oswald";
  src: url("/assets/fonts/Oswald/Oswald-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("/assets/fonts/Oswald/Oswald-Light.ttf") format("truetype");
  font-weight: 300;
}

* {
  font-family: "Oswald", sans-serif;
}
